@charset "UTF-8";

#page-content {
	text-align: center;
}

header {
	display: none !important;
}

.logo {
	width: 45%;
	margin-top: 6%;
}

[type=submit] {
	background-color: var(--catfish-blue-dark);
}